<footer>
  <span class="text-muted"
    >&copy; 2022 | Pascal van de Keere |
    <a class="text-muted" href="https://www.instagram.com/pascal.vdkeere/">
      <i class="fa-brands fa-instagram"></i> Instagram |
    </a>
    <a class="text-muted" href="https://www.youtube.com/watch?v=5q5kjonoxb0">
      <i class="fa-brands fa-youtube"></i> YouTube |
    </a>
    <a class="text-muted" href="https://github.com/Hydra-NL">
      <i class="fa-brands fa-github"></i> GitHub |
    </a>
    <a class="text-muted" routerLink="/about" title="About"><i class="fa-solid fa-address-card"></i> About</a>
  </span>
</footer>
