<div class="page">
  <div class="custom-container">
    <content class="blocks">
      <form
        #blockAddForm="ngForm"
        name="form"
        (ngSubmit)="blockAddForm.form.valid && addBlock()"
      >
        <div class="big-title">
          <h1 class="edit-big-title">
            <i class="fa fa-cube"></i>
            <input
              type="text"
              class="form-control"
              placeholder="Block Name"
              [(ngModel)]="block.name"
              #blockname="ngModel"
              name="blockname"
              [ngClass]="{
                'is-invalid':
                  blockname.invalid && (blockname.dirty || blockname.touched)
              }"
              required
              minlength="3"
              maxlength="30"
            />
          </h1>
          <div *ngIf="blockname.invalid" class="invalid-feedback">
            <div *ngIf="blockname.errors?.['required']">A name is required</div>
            <div *ngIf="blockname.errors?.['minlength']">
              The block's name should be atleast 3 characters long
            </div>
            <div *ngIf="blockname.errors?.['maxlength']">
              The block's name should be atmost 30 characters long
            </div>
          </div>

          <a class="btn custom-btn" routerLink="/blocks">
            <i class="fa-regular fa-square-caret-left"></i>
            Back
          </a>
        </div>
        <div>
          <div class="edit-textbox">
            <label for="description">Description</label>
            <textarea
              class="form-control"
              id="description"
              rows="4"
              placeholder="Block Description"
              [(ngModel)]="block.description"
              #blockdescription="ngModel"
              name="blockdescription"
              [ngClass]="{
                'is-invalid':
                  blockdescription.invalid &&
                  (blockdescription.dirty || blockdescription.touched)
              }"
              required
              minlength="3"
            ></textarea>
            <div *ngIf="blockdescription.invalid" class="invalid-feedback">
              <div *ngIf="blockdescription.errors?.['required']">
                A description is required
              </div>
              <div *ngIf="blockdescription.errors?.['minlength']">
                The block's description should be atleast 3 characters long
              </div>
            </div>
          </div>

          <h5 class="subtitle" id="stats">Stats</h5>
          <div class="edit-field">
            <label for="stackable">Stackable: </label>
            <input
              type="checkbox"
              id="stackable"
              [(ngModel)]="block.stackable"
              #blockstackable="ngModel"
              name="blockstackable"
              (change)="(true)"
              #checkBox
            />
          </div>
          <div *ngIf="checkBox.checked" class="edit-field">
            <label for="stackSize">Stack Size: </label>
            <input
              type="number"
              class="form-control"
              id="stackSize"
              [(ngModel)]="block.stackSize"
              #blockstacksize="ngModel"
              name="blockstacksize"
              [ngClass]="{
                'is-invalid':
                  blockstacksize.invalid &&
                  (blockstacksize.dirty || blockstacksize.touched)
              }"
              required="checkBox.checked"
              min="1"
              max="64"
            />(1 - 64)
            <div *ngIf="blockstacksize.invalid" class="invalid-feedback">
              <div *ngIf="blockstacksize.errors?.['required']">
                A stack size is required
              </div>
              <div *ngIf="blockstacksize.errors?.['min']">
                The block's stack size should be atleast 1
              </div>
              <div *ngIf="blockstacksize.errors?.['max']">
                The block's stack size should be atmost 64
              </div>
            </div>
          </div>
          <div class="edit-field">
            <label for="hardness">Hardness: </label>
            <input
              type="number"
              class="form-control"
              id="hardness"
              [(ngModel)]="block.hardness"
              #blockhardness="ngModel"
              name="blockhardness"
              [ngClass]="{
                'is-invalid':
                  blockhardness.invalid &&
                  (blockhardness.dirty || blockhardness.touched)
              }"
              required
              min="0"
              max="5"
            />(0 - 5)
            <div *ngIf="blockhardness.invalid" class="invalid-feedback">
              <div *ngIf="blockhardness.errors?.['required']">
                A hardness is required
              </div>
              <div *ngIf="blockhardness.errors?.['min']">
                The block's hardness should be atleast 0
              </div>
              <div *ngIf="blockhardness.errors?.['max']">
                The block's hardness should be atmost 5
              </div>
            </div>
          </div>

          <h5 class="subtitle" id="tools">Tools</h5>
          <div class="edit-field">
            <label for="tool">Tool: </label>
            <select
              class="form-control"
              id="tool"
              [(ngModel)]="block.tool"
              #blocktool="ngModel"
              name="blocktool"
              [ngClass]="{
                'is-invalid':
                  blocktool.invalid && (blocktool.dirty || blocktool.touched)
              }"
              required
            >
              <option value="" selected disabled hidden>Pick a tool</option>
              <option value="Pickaxe">Pickaxe</option>
              <option value="Axe">Axe</option>
              <option value="Shovel">Shovel</option>
            </select>
            <div *ngIf="blocktool.invalid" class="invalid-feedback">
              <div *ngIf="blocktool.errors?.['required']">
                A tool is required
              </div>
            </div>
          </div>
        </div>

        <app-biome-form></app-biome-form>
      </form>
      <button
        type="submit"
        (click)="addBlock()"
        class="btn custom-btn"
        [disabled]="!blockAddForm.valid"
      >
        <i class="fa-solid fa-check"></i>
        Save
      </button>
    </content>
  </div>
</div>
