<div class="page">
  <div class="custom-container">
    <content class="blocks">
      <form
        #blockAddForm="ngForm"
        name="form"
        (ngSubmit)="blockAddForm.form.valid && addBlock()"
      >
        <div class="big-title">
          <h1 class="edit-big-title">
            <i class="fa fa-cube"></i>
            <input
              type="text"
              class="form-control"
              placeholder="Block Name"
              [(ngModel)]="block.name"
              #blockname="ngModel"
              name="blockname"
              [ngClass]="{
                'is-invalid':
                  blockname.invalid && (blockname.dirty || blockname.touched)
              }"
              required
              minlength="3"
              maxlength="30"
            />
          </h1>
          <div *ngIf="blockname.invalid" class="invalid-feedback">
            <div *ngIf="blockname.errors?.['required']">A name is required</div>
            <div *ngIf="blockname.errors?.['minlength']">
              The block's name should be atleast 3 characters long
            </div>
            <div *ngIf="blockname.errors?.['maxlength']">
              The block's name should be atmost 30 characters long
            </div>
          </div>

          <a class="btn custom-btn back" routerLink="/blocks">
            <i class="fa-regular fa-square-caret-left"></i>
            Back
          </a>
        </div>
        <div>
          <div class="edit-textbox">
            <label for="description">Description</label>
            <textarea
              class="form-control"
              id="description"
              rows="4"
              placeholder="Block Description"
              [(ngModel)]="block.description"
              #blockdescription="ngModel"
              name="blockdescription"
              [ngClass]="{
                'is-invalid':
                  blockdescription.invalid &&
                  (blockdescription.dirty || blockdescription.touched)
              }"
              required
              minlength="3"
            ></textarea>
            <div *ngIf="blockdescription.invalid" class="invalid-feedback">
              <div *ngIf="blockdescription.errors?.['required']">
                A description is required
              </div>
              <div *ngIf="blockdescription.errors?.['minlength']">
                The block's description should be atleast 3 characters long
              </div>
            </div>
          </div>

          <h5 class="subtitle" id="stats">Stats</h5>
          <div class="edit-field">
            <label for="stackable">Stackable: </label>
            <input
              type="checkbox"
              id="stackable"
              [(ngModel)]="block.stackable"
              #blockstackable="ngModel"
              name="blockstackable"
              (change)="(true)"
              #checkBox
            />
          </div>
          <div *ngIf="checkBox.checked" class="edit-field">
            <label for="stackSize">Stack Size: </label>
            <input
              type="number"
              class="form-control"
              id="stackSize"
              [(ngModel)]="block.stackSize"
              #blockstacksize="ngModel"
              name="blockstacksize"
              [ngClass]="{
                'is-invalid':
                  blockstacksize.invalid &&
                  (blockstacksize.dirty || blockstacksize.touched)
              }"
              required="checkBox.checked"
              min="1"
              max="64"
            />(1 - 64)
            <div *ngIf="blockstacksize.invalid" class="invalid-feedback">
              <div *ngIf="blockstacksize.errors?.['required']">
                A stack size is required
              </div>
              <div *ngIf="blockstacksize.errors?.['min']">
                The block's stack size should be atleast 1
              </div>
              <div *ngIf="blockstacksize.errors?.['max']">
                The block's stack size should be atmost 64
              </div>
            </div>
          </div>
          <div class="edit-textbox">
            <label for="hardness">Hardness: </label>
            <input
              type="range"
              class="slider"
              id="hardness"
              [(ngModel)]="block.hardness"
              #blockhardness="ngModel"
              name="blockhardness"
              [ngClass]="{
                'is-invalid':
                  blockhardness.invalid &&
                  (blockhardness.dirty || blockhardness.touched)
              }"
              required
              min="0"
              max="6"
            />
            <div class="slider-images-row">
              <img
                class="slider-img"
                title="No tool"
                src="../../../../../assets/images/breakable.png"
              />
              <img
                class="slider-img"
                title="Wooden tool"
                src="../../../../../assets/images/wooden-pickaxe.png"
              />
              <img
                class="slider-img"
                title="Stone tool"
                src="../../../../../assets/images/stone-pickaxe.png"
              />
              <img
                class="slider-img"
                title="Iron tool"
                src="../../../../../assets/images/iron-pickaxe.png"
              />
              <img
                class="slider-img"
                title="Diamond tool"
                src="../../../../../assets/images/diamond-pickaxe.png"
              />
              <img
                class="slider-img"
                title="Netherite tool"
                src="../../../../../assets/images/netherite-pickaxe.png"
              />
              <img
                class="slider-img"
                title="Unbreakable"
                src="../../../../../assets/images/unbreakable.png"
              />
            </div>

            <div *ngIf="blockhardness.invalid" class="invalid-feedback">
              <div *ngIf="blockhardness.errors?.['required']">
                A hardness is required
              </div>
              <div *ngIf="blockhardness.errors?.['min']">
                The block's hardness should be atleast 0
              </div>
              <div *ngIf="blockhardness.errors?.['max']">
                The block's hardness should be atmost 5
              </div>
            </div>
          </div>

          <h5 class="subtitle" id="tools">Tools</h5>
          <div class="edit-field">
            <label for="tool">Tool: </label>
            <select
              class="form-control edit-select"
              id="tool"
              [(ngModel)]="block.tool"
              #blocktool="ngModel"
              name="blocktool"
              [ngClass]="{
                'is-invalid':
                  blocktool.invalid && (blocktool.dirty || blocktool.touched)
              }"
              required
            >
              <option value="" selected disabled hidden>Pick a tool</option>
              <option value="Pickaxe">Pickaxe</option>
              <option value="Axe">Axe</option>
              <option value="Shovel">Shovel</option>
            </select>
            <div *ngIf="blocktool.invalid" class="invalid-feedback">
              <div *ngIf="blocktool.errors?.['required']">
                A tool is required
              </div>
            </div>
          </div>
          <h5 class="subtitle" id="biome">Biome</h5>
          <div class="edit-field">
            <label for="biome">Biome name: </label>
            <input
              type="text"
              class="form-control"
              id="biome"
              required
              [(ngModel)]="block.biome.name"
              #blockbiomename="ngModel"
              name="name"
              [ngClass]="{ 'is-invalid': blockbiomename.errors }"
            />
            <div *ngIf="blockbiomename.errors" class="invalid-feedback">
              <div *ngIf="blockbiomename.errors?.['required']">
                A biome name is required
              </div>
            </div>
          </div>
          <div class="edit-textbox">
            <label for="biome">Description </label>
            <textarea
              class="form-control"
              id="description"
              required
              [(ngModel)]="block.biome.description"
              #blockbiomedescription="ngModel"
              name="description"
              rows="4"
              placeholder="Biome Description"
              minlength="3"
              [ngClass]="{ 'is-invalid': blockbiomedescription.errors }"
            ></textarea>
            <div *ngIf="blockbiomedescription.errors" class="invalid-feedback">
              <div *ngIf="blockbiomedescription.errors?.['required']">
                A description is required
              </div>
              <div *ngIf="blockbiomedescription.errors?.['minlength']">
                The biome's description should be atleast 3 characters long
              </div>
            </div>
          </div>
          <div class="edit-field">
            <label for="biome">Temperature: </label>
            <input
              type="number"
              class="form-control"
              id="temperature"
              required
              [(ngModel)]="block.biome.temperature"
              #blockbiometemperature="ngModel"
              name="temperature"
              min="-20"
              max="50"
              [ngClass]="{ 'is-invalid': blockbiometemperature.errors }"
            />
            (°C)
            <div *ngIf="blockbiometemperature.errors" class="invalid-feedback">
              <div *ngIf="blockbiometemperature.errors?.['required']">
                A temperature is required
              </div>
              <div *ngIf="blockbiometemperature.errors?.['min']">
                The temperature should be atleast -20°C
              </div>
              <div *ngIf="blockbiometemperature.errors?.['max']">
                The temperature should be atmost 50°C
              </div>
            </div>
          </div>
          <div class="edit-field">
            <label for="biome">Dimension: </label>
            <select
              class="form-control edit-select"
              [(ngModel)]="block.biome.dimension"
              #blockbiomedimension="ngModel"
              name="dimension"
              id="dimension"
              required
              [ngClass]="{ 'is-invalid': blockbiomedimension.errors }"
            >
              <option value="" selected disabled hidden>
                Pick a dimension
              </option>
              <option value="Overworld">Overworld</option>
              <option value="Nether">Nether</option>
              <option value="End">End</option>
            </select>
            <div *ngIf="blockbiomedimension.errors" class="invalid-feedback">
              <div *ngIf="blockbiomedimension.errors?.['required']">
                A dimension is required
              </div>
            </div>
          </div>
        </div>

        <button
          type="button"
          (click)="addBlock()"
          class="btn custom-btn edit-button"
          [disabled]="!blockAddForm.valid"
        >
          <i class="fa-solid fa-check"></i>
          Save
        </button>
      </form>
    </content>
  </div>
</div>
