<div class="page">
  <div class="custom-container">
    <content class="login">
      <div class="big-title">
        <h1>Register</h1>
      </div>
      <form class="login-form">
        <div class="form-group">
          <label for="email">Username</label>
          <input
            type="text"
            class="form-control"
            id="username"
            placeholder="Enter username"
          />
        </div>
        <div class="form-group">
          <label for="email">Email</label>
          <input
            type="email"
            class="form-control"
            id="email"
            placeholder="Enter email"
          />
        </div>
        <div class="form-group">
          <label for="password">Password</label>
          <input
            type="password"
            class="form-control"
            id="password"
            placeholder="Password"
          />
        </div>
        <div class="form-group">
          <label for="password">Re-enter Password</label>
          <input
            type="password"
            class="form-control"
            id="re-password"
            placeholder="Password"
          />
        </div>
        <button type="submit" class="btn custom-btn">Register</button>
      </form>
      <hr />
      <span
        >Have an account already? Click <a routerLink="/login">here</a> to
        login!</span
      >
    </content>
  </div>
</div>
