<h5 class="subtitle" id="biome">Biome</h5>
<form #biomeAddForm="ngForm" name="form" (ngSubmit)="(biomeAddForm.form.valid)">
  <div class="edit-field">
    <label for="biome">Biome name: </label>
    <input
      type="text"
      class="form-control"
      id="biome"
      required
      [(ngModel)]="biome.name"
      #name="ngModel"
      name="name"
      [ngClass]="{ 'is-invalid': name.errors }"
    />
    <div *ngIf="name.errors" class="invalid-feedback">
      <div *ngIf="name.errors?.['required']">A biome name is required</div>
    </div>
  </div>
  <div class="edit-textbox">
    <label for="biome">Description </label>
    <textarea
      class="form-control"
      id="description"
      required
      [(ngModel)]="biome.description"
      #description="ngModel"
      name="description"
      rows="4"
      placeholder="Biome Description"
      minlength="3"
      [ngClass]="{ 'is-invalid': description.errors }"
    ></textarea>
    <div *ngIf="description.errors" class="invalid-feedback">
      <div *ngIf="description.errors?.['required']">
        A description is required
      </div>
      <div *ngIf="description.errors?.['minlength']">
        The biome's description should be atleast 3 characters long
      </div>
    </div>
  </div>
  <div class="edit-field">
    <label for="biome">Temperature: </label>
    <input
      type="number"
      class="form-control"
      id="temperature"
      required
      [(ngModel)]="biome.temperature"
      #temperature="ngModel"
      name="temperature"
      min="-20"
      max="50"
      [ngClass]="{ 'is-invalid': temperature.errors }"
    />
    (°C)
    <div *ngIf="temperature.errors" class="invalid-feedback">
      <div *ngIf="temperature.errors?.['required']">
        A temperature is required
      </div>
      <div *ngIf="temperature.errors?.['min']">
        The temperature should be atleast -20°C
      </div>
      <div *ngIf="temperature.errors?.['max']">
        The temperature should be atmost 50°C
      </div>
    </div>
  </div>
  <div class="edit-field">
    <label for="biome">Dimension: </label>
    <select
      class="form-control edit-select"
      [(ngModel)]="biome.dimension"
      #dimension="ngModel"
      name="dimension"
      id="dimension"
      required
      [ngClass]="{ 'is-invalid': dimension.errors }"
    >
      <option value="" selected disabled hidden>Pick a dimension</option>
      <option value="Overworld">Overworld</option>
      <option value="Nether">Nether</option>
      <option value="End">End</option>
    </select>
    <div *ngIf="dimension.errors" class="invalid-feedback">
      <div *ngIf="dimension.errors?.['required']">A dimension is required</div>
    </div>
  </div>
</form>
