<div class="page">
  <div class="custom-container">
    <content class="mobs">
      <div class="big-title">
        <h1><i class="fa-solid fa-dragon"></i> Mobs</h1>
        <div class="page-btns">
          <a class="btn add-btn custom-btn" routerLink="/mobs/add">
            <i class="fa fa-plus"></i>
            Add Mob
          </a>
          <a class="btn custom-btn back" routerLink="/home" title="Back">
            <i class="fa-regular fa-square-caret-left"></i>
            Back
          </a>
        </div>
      </div>
      <div class="content">
        <div *ngFor="let mob of mobs">
          <div class="card entity-card">
            <a class="card-click" routerLink="/mobs/{{ mob._id }}"></a>
            <div class="card-header">
              <a class="entity-title">
                {{ mob.name }}
              </a>
            </div>
            <div class="card-body">
              <p>
                {{ mob.description | slice: 0:200
                }}{{ mob.description.length > 200 ? "..." : "" }}
              </p>
            </div>
          </div>
        </div>
      </div>
    </content>
  </div>
</div>
