<div class="page">
  <div class="custom-container">
    <content class="feed">
      <div class="big-title">
        <div class="feed-nav">
          <button [disabled]="visible" (click)="toggle()">Feed</button>
          <button [disabled]="!visible" (click)="toggle()">For you</button>
        </div>
        <a class="btn add-btn custom-btn" routerLink="/home/add">
          <img class="btn-icon" src="../../../../assets/images/add-icon.png" />
          New Page
        </a>
      </div>
      <div *ngIf="visible" class="content scroll">
        <ng-component *ngTemplateOutlet="mainpage"></ng-component>
      </div>
      <div *ngIf="!visible" class="content scroll">
        <ng-component *ngTemplateOutlet="foryoupage"></ng-component>
      </div>
    </content>
  </div>
  <div class="custom-container">
    <content class="subscriptions">
      <div class="big-title">
        <h2>Subscriptions</h2>
      </div>
      <div class="search">
        <i class="fa-solid fa-search"></i>
        <input
          type="text"
          id="search"
          class="form-control"
          (keyup)="search()"
          placeholder="Search"
        />
      </div>
      <div class="content scroll">
        <p class="text-muted empty-text" *ngIf="users.length == 0 && !results">
          You are not subscribed to any creators.
        </p>
        <p class="text-muted empty-text" *ngIf="users.length == 0 && results">
          No creators found.
        </p>
        <div *ngFor="let user of users">
          <div class="sub-feed-box">
            <p>{{ user.username }}</p>
            <div class="slide-in unsubscribe" id="unsubscribe">
              <a
                routerLink="#"
                title="Unsubscribe"
                (click)="unsubscribe(user._id)"
              >
                Unsubscribe
              </a>
            </div>
          </div>
        </div>
      </div>
    </content>
  </div>
</div>

<ng-template #mainpage>
  <p class="text-muted empty-text" *ngIf="feed.length == 0">
    It appears that the feed is empty.
  </p>
  <div *ngFor="let card of feed">
    <div class="card-grid">
      <div class="card entity-card">
        <div class="card-header">
          <a class="card-click" routerLink="/mobs/{{ card._id }}"></a>
          <p class="entity-title" *ngIf="card.type == 'Mob'">
            <i class="fa-solid fa-skull"></i>
            {{ card.name }}
          </p>
          <a
            class="card-click"
            routerLink="/blocks/{{ card._id }}"
            *ngIf="card.type == 'Block'"
          ></a>
          <p *ngIf="card.type == 'Block'" class="entity-title">
            <i class="fa fa-cube"></i>
            {{ card.name }}
          </p>
          <a
            class="card-click"
            routerLink="/tools/{{ card._id }}"
            *ngIf="card.type == 'Tool'"
          ></a>
          <p *ngIf="card.type == 'Tool'" class="entity-title">
            <i class="fa-solid fa-hammer"></i>
            {{ card.name }}
          </p>
          <div class="card-date">
            <p class="text-muted">Posted {{ card.timePassed }} ago</p>
            <p
              *ngIf="
                card.timePassed.includes('s') ||
                card.timePassed.includes('m') ||
                card.timePassed.includes('h')
              "
              class="text-muted"
            >
              New <i class="fa-solid fa-meteor"></i>
            </p>
          </div>
        </div>
        <div class="card-body">
          <p>
            Posted by:
            <a class="reference-entity-list">{{ card.createdBy.username }}</a>
          </p>
        </div>
      </div>
      <div class="likes">
        <a (click)="like(card._id, true)"
          ><i
            *ngIf="card.likedBy.includes(user._id)"
            class="fa-solid fa-circle-up"
          ></i
          ><i
            *ngIf="!card.likedBy.includes(user._id)"
            class="fa-regular fa-circle-up"
          ></i
        ></a>
        <span>{{ card.likes }}</span>
        <a (click)="like(card._id, false)"
          ><i
            *ngIf="card.likedBy.includes(user._id)"
            class="fa-solid fa-circle-down"
          ></i
          ><i
            *ngIf="!card.likedBy.includes(user._id)"
            class="fa-regular fa-circle-down"
          ></i
        ></a>
      </div>
    </div>
  </div>
</ng-template>

<ng-template #foryoupage>
  <p id="nosub" class="text-muted empty-text" *ngIf="fyp.length == 0">
    It appears that the your feed is empty.
  </p>
  <div *ngFor="let card of fyp">
    <div class="card">
      <div class="card-header">
        <a
          *ngIf="card.health >= 0"
          class="entity-title"
          routerLink="/mobs/{{ card._id }}"
        >
          <i class="fa-solid fa-skull"></i>
          {{ card.name }}
        </a>
        <a
          *ngIf="card.hardness >= 0"
          class="entity-title"
          routerLink="/blocks/{{ card._id }}"
        >
          <i class="fa fa-cube"></i>
          {{ card.name }}
        </a>
        <a
          *ngIf="card.durability >= 0"
          class="entity-title"
          routerLink="/tools/{{ card._id }}"
        >
          <i class="fa-solid fa-hammer"></i>
          {{ card.name }}
        </a>
        <div class="card-date">
          <p class="text-muted">posted {{ card.timePassed }} ago</p>
          <p
            *ngIf="
              card.creationDate.includes('s') ||
              card.creationDate.includes('m') ||
              card.creationDate.includes('h')
            "
            class="text-muted"
          >
            New <i class="fa-solid fa-meteor"></i>
          </p>
        </div>
      </div>
      <div class="card-body">
        <p>
          Posted by:
          <a class="reference-entity-list">{{ card.createdBy.username }}</a>
        </p>
      </div>
    </div>
  </div>
</ng-template>
