<div class="feed-container">
  <div class="feed">
    <div class="feed-title">
      <h1>Feed</h1>
    </div>

    <div class="col-md-12" *ngFor="let card of cards">
      <div class="card">
        <div class="card-header">
          <h3>{{ card.title }}</h3>
          <div class="card-date">
            <p class="text-muted">07-11-2022 12:00</p>
            <p *ngIf="card.title == 'Card 1'" class="text-muted">
              New<i class="fa fa-leaf"></i>
            </p>
          </div>
        </div>
        <!-- <div ngIf="">[title]</div> -->
        <div class="card-body">
          <p>
            {{ card.description }}
          </p>
        </div>
        <div class="card-footer">
          <button class="btn btn-success">
            <i class="fa fa-arrow-right"></i>
          </button>
          <button class="btn btn-danger">
            <i class="fa fa-trash"></i>
          </button>
        </div>
      </div>
    </div>
  </div>
</div>
