<div class="feed-container">
  <div class="feed">
    <div class="feed-title">
      <h1>Feed</h1>
    </div>
    
    <div class="col-md-10" *ngFor="let card of cards">
      <div class="card">
        <div class="card-header">
          <h3>{{ card.title }}</h3>
          <p class="text-muted">
            New<i class="fa fa-leaf"></i> 07-11-2022 12:00
          </p>
        </div>
        <!-- <div ngIf="">[title]</div> -->
        <div class="card-body">
          <p>
            {{ card.description }}
          </p>
        </div>
        <div class="card-footer">
          <button class="btn btn-danger">
            <i class="fa fa-arrow-right"></i>
          </button>
          <button class="btn btn-success">
            <i class="fa fa-trash"></i>
          </button>
        </div>
      </div>
    </div>
  </div>
</div>
