<div class="page">
  <div class="custom-container">
    <content class="blocks">
      <div class="big-title">
        <h1><i class="fa fa-cube"></i> {{ block?.name }}</h1>
        <a class="btn custom-btn" href="/blocks">
          <i class="fa-regular fa-square-caret-left"></i>
          Back
        </a>
      </div>
      <div>
        <p>{{ block?.description }}</p>
        <h5 class="subtitle" id="stats">Stats</h5>
        <p>
          Stackable: {{ block?.stackable }}<br />
          Stacksize: {{ block?.stackSize }}<br />
          Hardness: {{ block?.hardness }}
        </p>
        <h5 class="subtitle" id="tools">Tools</h5>
        <p>
          {{ block?.name }} kan gebroken worden door {{ block?.tool }}s met een
          Tool Level van {{ block?.hardness }} of hoger.<br />
          Tools waarmee {{ block?.name }} gebroken kan worden:
          <a
            class="reference-entity-list"
            *ngFor="let tool of tools"
            href="/tools/{{ tool._id }}"
          >
            {{ tool.name
            }}<i
              class="fa-solid fa-up-right-from-square reference-entity-icon"
            ></i
            ><span *ngIf="tool !== tools[tools.length - 1]">, </span>
          </a>
        </p>
      </div>
    </content>
  </div>
  <div class="custom-container">
    <content class="see-also">
      <div class="big-title">
        <h1>See also:</h1>
      </div>
      <div class="content scroll">
        <div *ngFor="let blockOther of blocks">
          <div class="card">
            <div class="card-header">
              <a href="/blocks/{{ blockOther?._id }}" class="entity-title">{{
                blockOther?.name
              }}</a>
            </div>
          </div>
        </div>
      </div>
    </content>
  </div>
</div>
