<div class="page">
  <div class="custom-container">
    <content class="users">
      <div class="big-title">
        <h1>
          <i class="fa-solid fa-user"></i> {{ user.username
          }}<a
            class="edit-entity-link"
            routerLink="/users/{{ user._id }}/edit"
            *ngIf="currentUser?._id == user._id"
            title="Edit user"
            ><img
              class="edit-icon"
              src="../../../../assets/images/edit-icon.png"
            />Edit</a
          >
        </h1>
        <a class="btn custom-btn back" routerLink="/users" title="Back">
          <i class="fa-regular fa-square-caret-left"></i>
          Back
        </a>
      </div>
      <div>
        <p>{{ user.about }}</p>
        <h5 class="subtitle">Creator stats</h5>
        <p>
          Total likes: {{ totalLikes }}<br />
          Total subscribers: {{ totalSubs }}<br />
          Pages created: {{ pagesCreated }}<br />
          Pages:
          <a
            class="reference-entity-list"
            *ngFor="let page of pages"
            routerLink="/{{ page.type }}s/{{ page._id }}"
            >{{ page.name
            }}<span *ngIf="page !== pages[pages.length - 1]">, </span></a
          >
        </p>
      </div>
    </content>
  </div>
  <div class="custom-container" *ngIf="currentUser?._id == user._id">
    <content class="see-also">
      <div class="big-title">
        <h5>Subscriptions:</h5>
      </div>

      <div class="content scroll">
        <p *ngIf="subs.length == 0" class="text-muted empty-text">
          You aren't subscribed to any creators yet.
        </p>
        <div *ngFor="let sub of subs">
          <div class="sub-feed-box">
            <a
              class="entity-title"
              routerLink="/users/{{ sub._id }}"
              >{{ sub.username }}</a
            >
          </div>
        </div>
      </div>
    </content>
    <content class="see-also">
      <div class="big-title">
        <h5>Liked by you:</h5>
      </div>

      <div class="content scroll">
        <p *ngIf="user.liked.length == 0" class="text-muted empty-text">
          You haven't liked any pages yet.
        </p>
        <div *ngFor="let like of likes">
          <div class="sub-feed-box">
            <a
              class="entity-title"
              routerLink="/{{ like.type }}s/{{ like._id }}"
              >{{ like.name }}</a
            >
          </div>
        </div>
      </div>
    </content>
  </div>
</div>
