:root {
  --body-header-background-image: url("assets/images/background_grass.png");
  --sun: url("assets/images/light-mode.png");
  --moon: url("assets/images/dark-mode.png");
}

/* Nav */
.sky {
  background: linear-gradient(
    rgb(97, 186, 231) -5%,
    rgba(255, 255, 255, 1) 85%
  );
  height: 10vh;
}

#sky {
  display: grid;
  grid-template-areas: "☀ 🔗 🚪";
}

#dark {
  grid-area: ☀;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: flex-end;
  flex-wrap: wrap;
  align-content: center;
  gap: 8px;
}

#link {
  grid-area: 🔗;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: flex-end;
  flex-wrap: wrap;
  align-content: center;
  gap: 8px;
}

#auth {
  grid-area: 🚪;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  margin-inline-end: 40px;
  gap: 6px;
}

.home-button-img {
  width: 50px;
  height: 50px;
  -webkit-transition: all 0.4s ease-out;
  -moz-transition: all 0.4s ease-out;
  -o-transition: all 0.4s ease-out;
  -ms-transition: all 0.4s ease-out;
  transition: all 0.4s ease-out;
}
.home-button-img:hover {
  cursor: pointer;
  transform: scale(1.1);
  -webkit-transition: all 0.2s ease-in;
  -moz-transition: all 0.2s ease-in;
  -o-transition: all 0.2s ease-in;
  -ms-transition: all 0.2s ease-in;
  transition: all 0.2s ease-in;
}

#link a {
  text-decoration: none;
  color: black;
  padding-inline: 2px;
}

#link a:hover {
  text-decoration: underline;
  color: black;
}

#home-link {
  font-weight: bold;
}

.dark-theme-btn {
  position: absolute;
  top: 15px;
  left: 20px;
  background-image: var(--sun);
  background-size: 100%;
  width: 40px;
  height: 40px;
  cursor: pointer;
}

/* Body */
body {
  background-image: url("assets/images/background_stone.png");
  background-size: 40px;
  font-family: Andale Mono, monospace;
}

.body-header {
  background-size: auto, 160px, auto !important;
  background-image: var(--body-header-background-image);
  min-width: -webkit-fill-available;
  position: absolute;
  background-repeat: repeat-x;
  min-height: -webkit-fill-available;
  z-index: -1;
}

.body-header.tile-horizontally {
  background-repeat: repeat-x;
}

/* Footer */
footer {
  border-top: 1px solid #686868;
  padding-bottom: 10%;
  text-align: center;
  background-image: linear-gradient(
    360deg,
    rgba(134, 29, 16, 1) 0%,
    rgba(65, 20, 14, 1) 10%,
    rgba(0, 0, 0, 1) 30%,
    rgba(255, 255, 255, 0) 100%
  );
}
footer a {
  text-decoration: none;
}

/* Texts */
.totext {
  text-decoration: none;
}

.totext:hover {
  text-decoration: underline;
  color: #0a54c3;
}

#content-box .totext {
  color: black;
  transition: 0.2s ease-in-out;
}

#content-box .totext:hover {
  color: #406db2;
  text-decoration: none;
  transition: 0.2s ease-in-out;
}

#content-box li {
  list-style-type: decimal;
  border-radius: 5px;
  padding-inline: 4px;
}

#content-box li:hover {
  background-color: #dbe8fb;
  transition: 0.2s ease-in-out;
}

.big-title {
  border-bottom: 1px solid #a5a5a5;
  margin-bottom: 8px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.subtitle {
  font-weight: bold;
  border-bottom: 1px solid #a5a5a5;
}

.editor-title {
  font-weight: bold;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 0px;
  color: black;
  text-decoration: none;
}

.empty-text {
  font-style: italic;
  text-align: center;
}

label {
  min-width: 110px;
}

/* scroll */
.scroll::-webkit-scrollbar {
  width: 10px;
}

.scroll::-webkit-scrollbar-thumb {
  background: #ababab;
  border-radius: 3px;
}

.scroll::-webkit-scrollbar-thumb:hover {
  background: rgb(100, 100, 100);
}

.scroll::-webkit-scrollbar-track {
  background: transparent;
}

/* Search */
.search {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  background-color: #ffffff2b;
  padding-inline-start: 8px;
  gap: 5px;
  border-radius: 5px;
  border: 1px solid #b1b1b1;
  margin-bottom: 10px;
}

.search .form-control {
  border: none;
  width: 100%;
  background-color: #ffffff00 !important;
}

.search .form-control:focus {
  box-shadow: none;
}

/* Content boxes */
content {
  display: flex;
  flex-direction: column;
  background-color: #e6eff4;
  border: 1px solid #e5e5e5;
  border-radius: 3px;
  padding: 10px;
  margin-bottom: 10px;
  width: 75%;
  padding-inline: 20px;
}

.custom-container {
  margin-top: 40px;
}

.page {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 10px;
}

.sub-feed-box {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-image: linear-gradient(
    340deg,
    rgba(99, 199, 205, 1) 0%,
    rgba(255, 255, 255, 1) 100%
  );
  border: 1px rgb(172, 172, 172) solid;
  margin-bottom: 5px;
  border-radius: 5px;
}

.sub-feed-box p {
  padding-inline-start: 4px;
  margin-bottom: 4px;
  font-size: 22px;
}

.sub-feed-box a {
  text-decoration: none;
  font-size: 20px;
  padding-inline-start: 4px;
  color: black;
}

/* Table */
tbody {
  vertical-align: top;
}

/* Cards */
.card {
  background-color: #ffffff;
  margin-bottom: 10px;
  min-width: 92%;
}
.card-header {
  background-image: linear-gradient(
    315deg,
    rgba(99, 199, 205, 1) 0%,
    rgba(188, 235, 238, 1) 20%,
    rgba(255, 255, 255, 1) 30%
  );
  margin: 0px;
}

.card-date,
.card-date p {
  font-size: 0.8em;
  margin: 0px;
}

.card-body {
  padding: 10px 10px;
}

.card-body p,
.card-footer p {
  margin: 0px;
}

.card-footer {
  display: flex;
  background-color: rgb(255 255 255);
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  height: 40px;
}

.card.entity-card {
  cursor: pointer;
  transition: 0.3s all;
}

.card.entity-card:hover {
  background-color: #f3fdff;
}

.card.entity-card:hover .card-header {
  background-image: linear-gradient(
    315deg,
    rgba(99, 199, 205, 1) 0%,
    rgba(188, 235, 238, 1) 20%,
    #f3fdff 30%
  );
}

.card-click {
  width: 100%;
  height: 100%;
  position: absolute;
  border-radius: 5px;
}

/* Border on hover */
.sub-feed-box:hover,
.feed-nav button:hover,
.card.entity-card:hover,
.search:hover {
  border: rgb(71, 167, 172) 1px solid;
}

/* Buttons */
.btn-icon {
  height: 30px;
  width: 30px;
}

.custom-btn {
  padding-top: 2px;
  padding-bottom: 2px;
  padding-inline: 5px;
  background-color: #96c6c657;
}

.custom-btn:focus {
  border: 1px solid #349d9dbb;
}

.back:hover {
  background-color: #96c6c6dd;
}

.custom-big-btn {
  height: 230px;
  width: 230px;
  margin-bottom: 10px;
  transition: 0.3s ease-in-out;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.custom-big-btn-body {
  position: relative;
  background-color: white;
  width: 70px;
  height: 70px;
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: 0.3s ease-in-out;
}

.custom-big-btn:hover {
  transform: scale(1.1);
  transition: 0.2s ease-in-out;
}

.custom-big-btn:hover .custom-big-btn-body {
  scale: 1.5;
  transition: 0.2s ease-in-out;
  filter: brightness(1);
}

.delete-btn:hover {
  background-color: rgb(255, 75, 75);
  border-color: red;
}

.edit-btn:hover {
  background-color: rgb(16, 172, 52);
  border-color: green;
}

.add-btn:hover {
  background: linear-gradient(rgb(255, 238, 162), rgb(241, 201, 42));
  border-color: rgb(211, 171, 9);
}

.subscribe-icon {
  height: 20px;
  width: 20px;
}

#subscribe-detail-page {
  position: absolute;
  right: 10px;
  top: 10px;
  display: flex;
  gap: 4px;
}

#subscribe-detail-page.btn.custom-btn:hover #subscribe-detail-page-text {
  animation-name: extend-btn;
  animation-timing-function: ease-in-out;
  display: flex;
}

#subscribe-detail-page-text {
  animation-duration: 0.1s;
  display: none;
}

@keyframes extend-btn {
  0% {
    transform: translateX(10px);
  }
  100% {
    transform: translateX(0px);
  }
}

.page-btns {
  display: flex;
  gap: 10px;
}

/* Edit entity */
.entity-title {
  text-decoration: none;
  color: black;
  font-size: 1.3em;
  font-weight: bold;
  margin: 0;
}

.reference-entity-list {
  text-decoration: none;
}

.reference-entity-icon {
  position: relative;
  bottom: 1ex;
  font-size: 70%;
}

.edit-big-title {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.edit-big-title input {
  font-size: 1.5rem;
  margin-inline-start: 10px;
  width: 420px;
}

.edit-field {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 5px;
  margin-bottom: 5px;
}

.edit-field input[type="number"] {
  max-width: 65px;
  padding: 3px 5px;
}

.edit-field input[type="text"] {
  max-width: 250px;
  padding: 3px 5px;
}

.edit-textbox {
  margin-bottom: 8px;
  display: flex;
  flex-direction: column;
}

.edit-select {
  width: 200px;
}

.edit-entity-link {
  position: relative;
  bottom: 3ex;
  font-size: 40%;
  color: black;
  text-decoration: none;
}

.edit-entity-link:hover {
  text-decoration: underline;
  color: black;
}

.edit-icon {
  width: 20px;
  height: 20px;
}

.entity-intro {
  display: flex;
}

.entity-intro .card {
  margin-left: 10px;
}

.entity-intro .card-header span {
  font-size: 0.8em;
}

.entity-title:hover {
  text-decoration: underline;
  color: black;
}

/* Slider */
.slider {
  -webkit-appearance: none;
  height: 10px;
  background: #b8e1e4;
  opacity: 0.7;
  transition: opacity 0.2s;
  border-radius: 5px;
  margin-bottom: 10px;
}

.slider:hover {
  opacity: 1;
}

.slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  border: 1px solid black;
  width: 15px;
  height: 15px;
  background: linear-gradient(0deg, rgb(157, 90, 23) 70%, rgb(28, 175, 25) 80%);
  cursor: pointer;
}

.slider-img {
  width: 26px;
  height: 26px;
}

.slider-images-row {
  display: flex;
  justify-content: space-between;
}

/* See also */
.see-also {
  width: 300px;
  max-height: 500px;
}

/* Subscription feed */
.subscriptions {
  width: 350px;
  max-height: 350px;
}
.subscriptions .content {
  height: fit-content;
  overflow-y: scroll;
  overflow-x: hidden;
}

.sub-feed-box:hover .unsubscribe {
  display: flex;
  animation-name: slide-in;
  animation-timing-function: ease;
}

@keyframes slide-in {
  0% {
    transform: translateX(110px);
  }
  100% {
    transform: translateX(0px);
  }
}
.unsubscribe {
  animation-duration: 0.2s;
  display: none;
  background-color: rgb(199, 25, 16);
  border-radius: 5px;
  color: white;
  text-decoration: none;
}

/* Entity feed */
.feed-nav {
  display: flex;
  flex-direction: row;
  gap: 3px;
  margin-top: 15px;
  margin-bottom: 0px;
}

.feed-nav button {
  padding: 0px 5px 0px 5px;
  border-radius: 10px 10px 0px 0px;
  background-color: #f2fffd;
  border: 1px rgb(172, 172, 172) solid;
  font-size: 16px;
  cursor: pointer;
  color: #969696;
}

.feed-nav button:disabled {
  color: black;
  font-size: 22px;
  background: linear-gradient(rgb(158, 235, 239), rgba(99, 199, 205, 1));
  cursor: default;
}

.feed .big-title {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.feed {
  width: 700px;
  max-height: 800px;
  min-height: 450px;
}

.feed .content {
  height: fit-content;
  overflow-y: scroll;
}

.feed .card,
.feed .card-header {
  border-radius: 5px 0px 0px 5px;
}

.feed .card-header {
  display: flex;
  justify-content: space-between;
}

.feed .card-click {
  transform: translate(-15px, -10px);
}

/* About */
.about {
  width: 950px;
}
.about-intro {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
}
.about-body {
  display: flex;
  flex-direction: column;
}
.about-img {
  width: 90px;
}

.about-img-card {
  display: flex;
  justify-content: center;
}

.about-img-title {
  font-size: 1em;
  font-weight: bold;
  margin: 0px;
}

.about-img-subtitle {
  font-style: italic;
  color: #717171;
  font-size: 0.8em;
  margin: 0px;
}

/* Blocks */
.blocks {
  width: 700px;
  min-height: 450px;
}

/* Mobs */
.mobs {
  width: 700px;
  min-height: 450px;
}

/* Tools */
.tools {
  width: 700px;
  min-height: 450px;
}

/* Users */
.users {
  width: 600px;
  min-height: 450px;
}

/* Add page */
.add-page {
  width: 900px;
  height: 450px;
}

.button-row {
  margin-top: auto;
  margin-bottom: auto;
  display: flex;
  justify-content: space-between;
}

.button-column {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.button-column #blocks {
  background-image: url("./assets/images/blocks.png");
  background-size: cover;
}

.button-column #tools {
  background-image: url("./assets/images/tools.jpg");
  background-size: cover;
}

.button-column #mobs {
  background-image: url("./assets/images/mobs.jpg");
  background-size: cover;
}

/* Login/Register */
.login {
  width: 500px;
}

.login-form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.login-form .form-group {
  width: 75%;
  margin-bottom: 10px;
}

/* MISC */
.likes {
  min-width: 7%;
  border-radius: 0px 5px 5px 0px;
  display: flex;
  flex-direction: column;
  margin-bottom: 10px;
  font-size: 14px;
  justify-content: center;
  align-items: center;
  border: 1px solid #bebebe;
  background-color: #e7e7e7;
}

.like-button {
  cursor: pointer;
  color: black;
}

.card-grid {
  display: flex;
  flex-direction: row;
}

/* Dark Theme */
.dark .page,
.dark #auth,
.dark #link a,
.dark content,
.dark .sky,
.dark .card-header a,
.dark .card a,
.dark #content-box .totext,
.dark .edit-entity-link,
.dark .entity-title,
.dark .custom-btn,
.dark .sub-feed-box a,
.dark .editor-title,
.dark .like-button {
  color: #eaeaea;
  transition: all 0.2s;
}

.dark .text-muted {
  color: #b7b7b7 !important;
}

.dark content {
  background-color: #1a1a1a;
}

.dark .sky {
  background: linear-gradient(rgba(3, 13, 32, 1) 55%, rgb(13, 15, 101) 90%);
}

.dark .card,
.dark .card-footer {
  background-color: #343434;
}

.dark .card-header {
  background-image: linear-gradient(
    315deg,
    rgb(137 66 24) 0%,
    rgb(97 80 52) 20%,
    rgb(53, 53, 53) 30%
  );
}

.dark .card.entity-card:hover {
  background-color: rgb(39, 39, 39);
}

.dark .card.entity-card:hover .card-header {
  background-image: linear-gradient(
    315deg,
    rgb(137 66 24) 0%,
    rgb(97 80 52) 20%,
    rgb(39, 39, 39) 30%
  );
}

.dark .sub-feed-box {
  background-image: linear-gradient(
    340deg,
    rgb(153 75 21) 0%,
    rgba(53, 53, 53, 1) 100%
  );
  border: 1px solid #eaeaea;
}

.dark .custom-btn {
  background-color: #c6b19657;
}

.dark .unsubscribe .custom-btn:hover {
  background-color: transparent;
}

.dark .form-control {
  color: #cfcfcf;
  background-color: #ffffff2b;
}

.dark #content-box li:hover {
  color: #1b1b1b;
  background-color: #dbe8fb;
  transition: 0.2s ease-in-out;
}

.dark #content-box li:hover a {
  color: #1b1b1b;
}

.dark .delete-btn:hover {
  background-color: rgb(255, 75, 75);
  border-color: red;
}

.dark .edit-btn:hover {
  background-color: rgb(16, 172, 52);
  border-color: green;
}

.dark .add-btn:hover {
  background: linear-gradient(rgb(156, 143, 88), rgb(115, 93, 7));
  border-color: rgb(211, 171, 9);
}

.dark .back:hover {
  background-color: #c6b196ad;
}

.dark .body-header {
  filter: brightness(0.6);
}

.dark .dark-theme-btn {
  background-image: var(--moon);
}

.dark .feed-nav button {
  background-color: #a7a7a733;
  color: #606060;
  border: 1px #eaeaea solid;
}

.dark .feed-nav button:disabled {
  color: white;
  font-size: 22px;
  background: linear-gradient(rgb(97 80 52), rgb(137 66 24));
}

.dark .slider {
  background: #ca9e74;
}

.dark .sub-feed-box:hover,
.dark .feed-nav button:hover,
.dark .card.entity-card:hover,
.dark .search:hover,
.dark .custom-btn.add-btn:focus {
  border: rgb(154, 69, 20) 1px solid;
}

.dark .likes {
  border: 1px solid #434242;
  background-color: #1f1f1f;
}
