/* Nav */
.sky {
  background: linear-gradient(
    rgb(97, 186, 231) -5%,
    rgba(255, 255, 255, 1) 85%
  );
  height: 10vh;
}

#sky {
  display: grid;
  grid-template-areas: "🔗 🚪";
}

#link {
  grid-area: 🔗;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: flex-end;
  flex-wrap: wrap;
  align-content: center;
  gap: 8px;
}

#auth {
  grid-area: 🚪;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  margin-inline-end: 40px;
}

#auth img {
  height: 30px;
  width: 30px;
}

#auth a {
  text-decoration: none;
  color: black;
  margin-inline: 2px;
  padding: 3px;
  transition: all 0.3s ease-in-out;
}

#auth a:hover {
  background-color: rgb(241, 201, 42);
  border-radius: 5px;
  transition: all 0.3s ease-in-out;
}

.home-button-img {
  width: 50px;
  height: 50px;
  -webkit-transition: all 0.4s ease-out;
  -moz-transition: all 0.4s ease-out;
  -o-transition: all 0.4s ease-out;
  -ms-transition: all 0.4s ease-out;
  transition: all 0.4s ease-out;
}
.home-button-img:hover {
  cursor: pointer;
  transform: scale(1.1);
  -webkit-transition: all 0.2s ease-in;
  -moz-transition: all 0.2s ease-in;
  -o-transition: all 0.2s ease-in;
  -ms-transition: all 0.2s ease-in;
  transition: all 0.2s ease-in;
}

#link a {
  text-decoration: none;
  color: black;
  padding-inline: 2px;
}

#link a:hover {
  text-decoration: underline;
  color: black;
}

#home-link {
  font-weight: bold;
}

/* Body */
body {
  background-image: url("assets/images/background_stone.png");
  background-size: 40px;
  font-family: Andale Mono, monospace;
}

.body-header {
  background-size: auto, 160px, auto !important;
  background-image: url("assets/images/background_grass.png");
  min-width: inherit;
  position: relative;
  background-repeat: repeat-x;
}

.body-header.tile-horizontally {
  background-repeat: repeat-x;
}

/* Footer */
footer {
  border-top: 1px solid #686868;
  margin-inline: 10%;
  margin-bottom: 10px;
}
footer a {
  text-decoration: none;
}

/* Text */
.totext {
  text-decoration: none;
}

.totext:hover {
  text-decoration: underline;
  color: #0a54c3;
}

.big-title {
  border-bottom: 1px solid #a5a5a5;
  margin-bottom: 8px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.subtitle {
  font-weight: bold;
  border-bottom: 1px solid #a5a5a5;
}

.entity-title {
  text-decoration: none;
  color: black;
  font-size: 1.3em;
  font-weight: bold;
}

.reference-entity-list {
  text-decoration: none;
  color: black;
}

.reference-entity-icon {
  position: relative;
  bottom: 1ex;
  font-size: 70%;
}

.entity-title:hover {
  text-decoration: underline;
  color: black;
}

/* scroll */
.scroll::-webkit-scrollbar {
  width: 10px;
}

.scroll::-webkit-scrollbar-thumb {
  background: #ababab;
  border-radius: 3px;
}

.scroll::-webkit-scrollbar-thumb:hover {
  background: rgb(100, 100, 100);
}

.scroll::-webkit-scrollbar-track {
  background: transparent;
}

/* Content box */
content {
  display: flex;
  flex-direction: column;
  background-color: #e6eff4;
  border: 1px solid #e5e5e5;
  border-radius: 3px;
  padding: 10px;
  margin-bottom: 10px;
  width: 75%;
  padding-inline: 20px;
}

.custom-container {
  display: flex;
  justify-content: center;
  margin-top: 40px;
}

.page {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 10px;
}

/* Cards */
.card {
  background-color: #ffffff;
  margin-bottom: 10px;
}
.card-header {
  background-color: rgb(221, 221, 221);
  margin: 0px;
}

.card-date {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.card-body {
}

.card-body p {
  margin-bottom: 0px;
}

.card-footer {
  display: flex;
  justify-content: flex-end;
}

.card-footer button {
  margin-inline-start: 3px;
}

/* Buttons */
.btn-icon {
  height: 30px;
  width: 30px;
}

.custom-btn {
  padding-top: 2px;
  padding-bottom: 2px;
  padding-inline: 5px;
}

.delete-btn:hover {
  background-color: rgb(255, 75, 75);
}

.delete-btn:focus {
  border-color: red;
}

.edit-btn:hover {
  background-color: rgb(16, 172, 52);
}

.edit-btn:focus {
  border-color: green;
}

.add-btn:hover {
  background-color: rgb(241, 201, 42);
}

.add-btn:focus {
  border-color: rgb(211, 171, 9);
}
.unsubscribe-icon {
  height: 20px;
  width: 20px;
}

.page-btns {
  display: flex;
  gap: 10px;
}

/* See also */
.see-also {
  width: 250px;
  max-height: 500px;
}

/* Subscription feed */
.subscriptions {
  width: 350px;
  height: 500px;
}
.subscriptions .content {
  height: fit-content;
  overflow-y: scroll;
}
.subscriptions .card-header {
  display: flex;
  justify-content: space-between;
}

.subscriptions .card-header a {
  text-decoration: none;
  color: rgb(171, 2, 2);
}

/* Entity feed */
.feed .big-title {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.feed {
  width: 700px;
  height: 900px;
}

.feed .content {
  height: fit-content;
  overflow-y: scroll;
}

.feed .card-header {
  display: flex;
  justify-content: space-between;
}
.feed .card-header p {
  font-size: 0.8em;
  margin: 0px;
}

/* About */
#about .custom-container {
  margin-top: 0px;
}

.about-content {
  width: 75%;
  margin-top: 50px;
  padding-inline: 20px;
}

.about-intro {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
}

.about {
  display: flex;
  flex-direction: column;
}

.about-img {
  width: 90px;
}

.about-img-card {
  display: flex;
  justify-content: center;
}

.about-img-title {
  font-size: 1em;
  font-weight: bold;
  margin: 0px;
}

.about-img-subtitle {
  font-style: italic;
  color: #a5a5a5;
  font-size: 0.8em;
  margin: 0px;
}

/* Blocks */
.blocks {
  width: 700px;
}

/* Mobs */
.mobs {
  width: 700px;
}

/* Tools */
.tools {
  width: 700px;
}
