<div class="page">
  <div class="custom-container">
    <content class="about">
      <div class="big-title col-md-12">
        <h1>About</h1>
      </div>
      <div class="about-intro row col-md-9">
        <p>
          Het project is bedoeld om een soort wikipedia voor het spel Minecraft™
          neer te zetten. De gebruiker kan deze wiki aanvullen met de volgende
          <a class="totext" href="/about#entiteiten">entiteiten</a>: Tools,
          Blocks en Mobs.<br /><br />
          Tools kunnen wapens zijn die gebruikt kunnen worden om Mobs (vaak
          vijandelijke monsters) te verslaan of gereedschappen om bepaalde
          blokken te breken.<br /><br />
          Blocks zijn letterlijk de bouwstenen van het spel en kunnen
          verschillende "levels" hebben, deste hoger het level deste sterker de
          tool moet zijn om het blok te kunnen breken.<br /><br />
          Mobs zijn de dieren of monsters van het spel, hiervoor zijn wapens
          nodig om door de bepantsering heen te kunnen komen. Ook hiervoor
          geldt: deste hoger het pantser-level deste sterker de tool moet zijn.
        </p>
        <div class="col-md-4">
          <div class="card">
            <div class="card-header">
              <p class="about-img-title">Pascal van de Keere</p>
              <p class="about-img-subtitle">2175279</p>
            </div>
            <div class="card-body about-img-card">
              <img
                src="../../assets/images/pascal.png"
                alt="Pascal van de Keere"
                class="about-img"
              />
            </div>
          </div>

          <div class="card">
            <div class="card-header">
              <p class="editor-title" id="content">Contents</p>
            </div>
            <div class="card-body" id="content-box">
              <li>
                <a class="totext" href="/about#entiteiten">Entiteiten</a>
              </li>
              <li>
                <a class="totext" href="/about#datamodel">DataModel</a>
              </li>
              <li>
                <a class="totext" href="/about#userstories">User stories</a>
              </li>
            </div>
          </div>
        </div>
      </div>
      <div class="about-body col-md-12">
        <h5 class="subtitle" id="entiteiten">Entiteiten</h5>
        <p>
          Zoals in het
          <a class="totext" href="/about#datamodel">datamodel</a> staat
          aangegeven kunnen enkele entiteiten relaties met elkaar hebben. Zo
          beschikken de entiteiten 'Block' en 'Mob' over een 'Biome' entiteit.
          Deze kan alleen bestaan als er een Mob of Block bestaat, deze is hier
          dus compleet van afhankelijk en kan niet op zichzelf bestaan.<br /><br />
          Verder zijn er tussen de entiteiten ook nog andere relaties te vinden.
          Zo beschikken de Block en Tool entiteien over een 'ToolType', en
          'Hardness' en 'ToolLevel' respectievelijk. Deze geven aan of een tool
          een block juist wel of niet kan breken (aan het einde van de pagina
          voorbeelden). Tussen Tool en Mob is er zo'n soortgelijke relatie te
          vinden namelijk met damage van de Tool tenopzichte van de armor van de
          Mob.
        </p>
        <table>
          <thead>
            <th>Entiteit 1: Block</th>
            <th>Entiteit 2: Tool</th>
            <th>Entiteit 3: Mob</th>
            <th>Entiteit 4: Biome</th>
          </thead>
          <tbody>
            <tr>
              <td>
                <ul>
                  <li>name: string</li>
                  <li>description: string</li>
                  <li>type: EntityType</li>
                  <li>stackable: boolean</li>
                  <li>stackSize: number</li>
                  <li>hardness: number</li>
                  <li>tool: ToolType</li>
                  <li>biome: Biome</li>
                  <li>createdBy: User</li>
                  <li>creationDate: Date</li>
                  <li>timePassed: number</li>
                  <li>lastUpdateDate: Date</li>
                  <li>likes: number</li>
                  <li>likedBy: string[]</li>
                  <li>dislikedBy: string[]</li>
                </ul>
              </td>
              <td>
                <ul>
                  <li>name: string</li>
                  <li>description: string</li>
                  <li>type: EntityType</li>
                  <li>durability: number</li>
                  <li>isWeapon: boolean</li>
                  <li>attack: number</li>
                  <li>toolLevel: number</li>
                  <li>toolType: ToolType</li>
                  <li>createdBy: User</li>
                  <li>creationDate: Date</li>
                  <li>timePassed: number</li>
                  <li>lastUpdateDate: Date</li>
                  <li>likes: number</li>
                  <li>likedBy: string[]</li>
                  <li>dislikedBy: string[]</li>
                </ul>
              </td>
              <td>
                <ul>
                  <li>name: string</li>
                  <li>description: string</li>
                  <li>type: EntityType</li>
                  <li>health: number</li>
                  <li>attack: number</li>
                  <li>armor: number</li>
                  <li>isPassive: boolean</li>
                  <li>biome: Biome</li>
                  <li>createdBy: User</li>
                  <li>creationDate: Date</li>
                  <li>timePassed: number</li>
                  <li>lastUpdateDate: Date</li>
                  <li>likes: number</li>
                  <li>likedBy: string[]</li>
                  <li>dislikedBy: string[]</li>
                </ul>
              </td>
              <td>
                <ul>
                  <li>name: string</li>
                  <li>description: string</li>
                  <li>temperature: number</li>
                  <li>dimension: string</li>
                </ul>
              </td>
            </tr>
          </tbody>
        </table>
        <h5 class="subtitle" id="datamodel">Datamodel</h5>
        <img
          src="assets/images/datamodel.png"
          alt="Datamodel"
          id="datamodel-img"
        /><br />
        <h5 class="subtitle" id="userstories">User stories</h5>
        <p>
          Als een gebruiker wil ik: <br />
          <li>
            Een account kunnen aanmaken zodat ik kan inloggen en content kan
            aanmaken, bewerken en eventueel verwijderen
          </li>
          <li>Block-pagina's aan kunnen maken</li>
          <li>Mob-pagina's aan kunnen maken</li>
          <li>Tool-pagina's aan kunnen maken</li>
          <li>
            Kunnen subscriben op andere gebruikers zodat ik hun content kan zien
          </li>
          <li>
            Kunnen liken en disliken op content zodat ik kan laten zien wat ik
            er van vind
          </li>
        </p>
      </div>
    </content>
  </div>
</div>
